<a href="https://colab.research.google.com/github/Eunjung-Cho/python_study/blob/master/Preprocessing/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%B2%98%EB%A6%AC%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/%EB%8D%B0%EC%B2%98%ED%94%84_4%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4주차-1 : Series 만들기

#### 3주차-2 복습: 

1) pd.Series 
변수이름=pd.Series(데이터,index=인덱스)
데이터 <- 스칼라(정수,실수),리스트,딕셔너리,ndarray(numpy배열)
index <- 원소 엑세스에 사용할 인덱스 지정, dictionary의 키와 같은 역할

* 들어가기 전에 알아 둘 사항 

-Series는 1차원 구조의 자료 표현
-다른 표현: index가 포함된 numpy의 ndarray
-다른 표현: column vector를 표현하는object
판다스: 파이썬 계의 엑셀! / numpy를 기반으로 강력한 스프레드 시트 처리 기능을 제공

* Numpy (Numerical Python) 공학용 계산기

-array 단위로 데이터를 관리 -> ndarray
-일반 list에 비해 처리 속도 빠르고 메모리도 효율적
-선형대수와 관련된 다양한 기능 제공
-반복문(for,while)없이 데이터 배열에 대한 처리를 지원
-C, C++, 포트란으로 작성된 함수를 파이썬으로 연동해 쓸 수 있게 함

### pd.Series(data,index=인덱스)

#### data 
* 스칼라(정수,실수), 리스트, 딕셔너리, ndarray

In [ ]:
# 넘파이 호출 법 
import numpy as np

**문자열/스칼라**

In [ ]:
import pandas as pd
pd.Series('banana')

0    banana
dtype: object

In [ ]:
pd.Series(['banana'], 42)

TypeError: Index(...) must be called with a collection of some kind, 42 was passed

In [ ]:
pd.Series(41)

0    41
dtype: int64

In [ ]:
pd.Series(['banana'], index=[42])

42    banana
dtype: object

**리스트**

* [] 대괄호 형태

In [ ]:
list_data=[1,2,3,4,5]
list_data

[1, 2, 3, 4, 5]

In [ ]:
ex1=pd.Series(data=list_data)
ex1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#변수 유형 정보
type(ex1) #결과: pandas.core.series.Series -> 시리즈

pandas.core.series.Series

In [ ]:
#타입 정보 - ex1에 들어가 있는 값들의 타입
ex1.dtype

dtype('int64')

In [ ]:
#몇행 몇열로 이루어져 있는지 -> shape
ex1.shape

(5,)

In [ ]:
#원소의 개수 ->siza (shape 이 먹히지 않을 때)
ex1.size

5

In [ ]:
#데이터 값만 -> values (dtype 도 같이 나옴)
ex1.values

array([1, 2, 3, 4, 5], dtype=int64)

In [ ]:
#index를 제외한 값들의 타입만
type(ex1.values)

numpy.ndarray

In [ ]:
#index만 따로
ex1.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#key(딕셔너리 구조에서의 index역할)만 따로
ex1.keys()

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#index의 타입
type(ex1.index)

pandas.core.indexes.range.RangeIndex

In [ ]:
#시리즈에서는 info 사용불가 -> 데이터 프레임에서만
ex1.info()

AttributeError: 'Series' object has no attribute 'info'

**Quiz**: 3번째 인덱스가 궁금하다면?

In [ ]:
#답 1:
ex1.index[2]

In [ ]:
#답 2:
ex1.keys()[2]

**Quiz**: 3번째 데이터가 궁금하다면?

In [ ]:
#답 1:
ex1[2]

In [ ]:
#답 2:
ex1.iloc[2]

In [ ]:
#답 3:
ex1.values[2]

**Quiz**: 인덱스 2에 해당하는 데이터가 궁금하다면?

In [ ]:
#답 1:
ex1.loc[2]

In [ ]:
# ex1=Series(data=list_data) 가능?

# from pandas import Series, DataFrame -> 판다스의 시리즈와 데이터프레임만 부름

#### ndarray 로 Series 만들기

In [ ]:
np.array([4,3,5,8]) #import numpy 셀을 잊지말고 실행 후 하기!

In [ ]:
pd.Series(data=np.array([4,3,5,8]))

In [ ]:
x= pd.Series(np.arange(10,60,10), index=['a','b','c','d','e'])
x

In [ ]:
x.values[2]

In [ ]:
#a부터 c까지의 값만
x.values[0:3]

In [ ]:
#a부터 c까지불러오기 방법1
x.loc['a':'c']

In [ ]:
#a부터 c까지불러오기 방법2
#처음부터 c인덱스까지
x.loc[:'c']

In [ ]:
#a부터 c까지불러오기 방법3
#처음부터 3번째 까지 (3의 직전이니까 0,1,2에 해당되는 순번이 불러와짐)
x.iloc[:3]

In [ ]:
#a부터 c까지불러오기 방법4
x[0:3]

In [ ]:
##a부터 c까지불러오기 방법 에러
x.loc[0:'c'] # 순번과 인덱스를 섞어서 x

**딕셔너리**

* {} 중괄호 형태

In [ ]:
b={'a':4, 'b':2, 'c':3}

In [ ]:
pd.Series(data=b) #이미 딕셔너리 구조(ket가 index역할)이기 때문에 index= <-이것을 넣지 않는다.

a    4
b    2
c    3
dtype: int64

In [ ]:
pd.Series(data=b, index=['b','c', 'a']) #인덱스를 별도로 주면 바뀌게 됨

b    2
c    3
a    4
dtype: int64

**딕셔너리 Quiz**

In [ ]:
b={'a':4, 'b':2, 'c':3}
y=pd.Series(data=b, index=['b','c', 'a'])
y

#변수 b의 형태 : type(b) : 딕셔너리
#변수 y의 형태: type(y) : 시리즈
#변수 y가 가진 인덱스는? : y.index : Index(['b', 'c', 'a'], dtype='object')
#변수y의 인덱스 형태 : type(y.index) : pandas.core.indexes.base.Index
#변수y의 원소 수 : y.size : 3
#변수y의 데이터 타입: y.dtypes : dtype('int64')
#변수y의 3번째 인덱스: y.index[2] : 'a'
#변수y의 2번째 인덱스: y.keys()[1] : 'c'
#변수y가 가진 데이터 조회: y.values : array([2, 3, 4], dtype=int64)
#변수y가 가진 데이터 덩어리 형태: type(y.values) : numpy.ndarray
#변수y의 데이터 덩어리 2번째 값 :y.values[1] : 3
#변수y의 데이터 덩어리 2번째 값 :y[1] : 3
#변수y의 첫번째 값: y[0] : 2
#변수y의 'b'인덱스가 가진 값: y.iloc[0]: 2
#변수y의 'b'인덱스가 가진 값: y['b']: 2
#변수y의 'b'인덱스가 가진 값: y.loc['b']: 2

#y.iloc['b'] => error

b    2
c    3
a    4
dtype: int64

# 4주차-2 : 시리즈 옵션 마무리, 데이터프레임만들기(리스트,딕셔너리로)

-인덱스 따로 이름 주는 것은 가능

-시리즈에 values나 columns 이름 따로는 불가능

In [ ]:
b={'a':4, 'b':2, 'c':3}

In [ ]:
pd.Series(b)

a    4
b    2
c    3
dtype: int64

In [ ]:
pd.Series(data=b, index=['b','c','a'])

b    2
c    3
a    4
dtype: int64

In [ ]:
pd.Series(data=b, index=['b','c', 'a','e'], dtype = float) #dtype이 int가 아니고 float가 나오게 된다.

b    2.0
c    3.0
a    4.0
e    NaN
dtype: float64

NaN : Not a Number -> Missing Data를 의미한다.

In [ ]:
pd.Series(data=b, index=['b','c', 'a','e'], dtype = int) #정수로 바꾸는 것은 안됨_dtype이 float가 나온다

b    2.0
c    3.0
a    4.0
e    NaN
dtype: float64

In [ ]:
pd.Series(data=b, index=['b','c', 'a','e'], dtype = str)

b      2
c      3
a      4
e    NaN
dtype: object

In [ ]:
pd.Series(data=b, index=['a','b', 'c','e'], dtype = str)

a      4
b      2
c      3
e    NaN
dtype: object

In [ ]:
y=pd.Series(data=b, index=['b','c', 'a','e'],name = "OMG")

In [ ]:
pd.Series(data=b, index=['b','c', 'a','e'], index.name="OK") # 이건 error남

SyntaxError: keyword can't be an expression (<ipython-input-60-f92f639c0a01>, line 1)

In [ ]:
y.index.name="OK"
y

#인덱스 따로 이름 주는 것은 가능 
#시리즈에 values나 columns 이름 따로는 불가능

OK
b    2.0
c    3.0
a    4.0
e    NaN
Name: OMG, dtype: float64

In [ ]:
y.values.name="NotOK"

AttributeError: 'numpy.ndarray' object has no attribute 'name'

### DataFrame 만들기

변수이름 = pd.DataFrame(데이터,index=인덱스,columns=칼럼)

* 데이터 -> 시리즈, 2차원 ndarray, 또 다른 데이터프레임
* index : 행(x-axis)에 대해 사용할 인덱스 지정
* columns : 열(y-axis)에 대해 사용할 인덱스 지정

* axis : 축을 의미 (데이터프레임 옵션에 등장할 예정)

**list를 이용한 DataFrame 만들기**

In [ ]:
#리스트 준비

h=[1.0,2.0,3.0,4.0]
i=[4.0,3.0,2.0,1.0]
j=[5.0,6.0,7.0,8.0]
k=[8.0,7.0,6.0,5.0]

In [ ]:
pd.DataFrame(data=[h,i,j,k]) #h,i,j,k를 한 덩어리로 만들고 싶다. -> []로 감싸주기

#pd.DataFrame([h,i,j,k]) 도 만들기 가능 
#순서를 모르는 경우 헷갈리기 때문에, 옵션이름을 적어주는 것이 좋다.

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  4.0  3.0  2.0  1.0
2  5.0  6.0  7.0  8.0
3  8.0  7.0  6.0  5.0

In [ ]:
pd.DataFrame(data=[h,i,j,k],
            index=['1st','2nd','3rd','4th'],
            columns=['one','two','three','four']) #index->행이름, columns-> 열이름

     one  two  three  four
1st  1.0  2.0    3.0   4.0
2nd  4.0  3.0    2.0   1.0
3rd  5.0  6.0    7.0   8.0
4th  8.0  7.0    6.0   5.0

In [ ]:
e= [[1.0,2.0,3.0,4.0],
    [4.0,3.0,2.0,1.0],
    [5.0,6.0,7.0,8.0],
    [8.0,7.0,6.0,5.0]]
e

[[1.0, 2.0, 3.0, 4.0],
 [4.0, 3.0, 2.0, 1.0],
 [5.0, 6.0, 7.0, 8.0],
 [8.0, 7.0, 6.0, 5.0]]

In [ ]:
pd.DataFrame(data=e)

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  4.0  3.0  2.0  1.0
2  5.0  6.0  7.0  8.0
3  8.0  7.0  6.0  5.0

**딕셔너리 이용한 DataFrame 만들기**

* 리스트와 차이점: 리스트는 가로로 그대로 진행되지만 딕셔너리는 키가 컬럼이름으로 간다!

* 딕셔너리로 시리즈로 만들때: 키가 인덱스로!
* 딕셔너리로 데이터프레임 만들때: 키가 columns로!

In [ ]:
a= {'one':[1.0,2.0,3.0,4.0],
   'two':[4.0,3.0,2.0,1.0],
   'three':[5.0,6.0,7.0,8.0],
   'four':[8.0,7.0,6.0,5.0]}
a

{'one': [1.0, 2.0, 3.0, 4.0],
 'two': [4.0, 3.0, 2.0, 1.0],
 'three': [5.0, 6.0, 7.0, 8.0],
 'four': [8.0, 7.0, 6.0, 5.0]}

In [ ]:
pd.DataFrame(a) #리스트는 가로로 그대로 진행되지만 딕셔너리는 키가 컬럼이름으로 간다!

   one  two  three  four
0  1.0  4.0    5.0   8.0
1  2.0  3.0    6.0   7.0
2  3.0  2.0    7.0   6.0
3  4.0  1.0    8.0   5.0

In [ ]:
pd.DataFrame(a, index=['1st','2nd','3rd','4th']) #그럼 딕셔너리로 만들면 columns 만들어도 되나?

     one  two  three  four
1st  1.0  4.0    5.0   8.0
2nd  2.0  3.0    6.0   7.0
3rd  3.0  2.0    7.0   6.0
4th  4.0  1.0    8.0   5.0

In [ ]:
# 딕셔너리도 dataframe의 옵션으로 columns 역할이 있다! -> 순서지정용 

pd.DataFrame(a, index=['1st','2nd','3rd','4th'],
            columns=['one','111','two',])

     one  111  two
1st  1.0  NaN  4.0
2nd  2.0  NaN  3.0
3rd  3.0  NaN  2.0
4th  4.0  NaN  1.0

In [ ]:
# 딕셔너리도 dataframe의 옵션으로 columns 역할이 있다! -> 특정열만 가져오기
pd.DataFrame(a, index=['1st','2nd','3rd','4th'],
            columns=['three','two'])

     three  two
1st    5.0  4.0
2nd    6.0  3.0
3rd    7.0  2.0
4th    8.0  1.0

In [ ]:
# 딕셔너리도 dataframe의 옵션으로 columns 역할이 있다! -> 새로운 열 만들기
pd.DataFrame(a, index=['1st','2nd','3rd','4th'],
            columns=['three','111','two'])

     three  111  two
1st    5.0  NaN  4.0
2nd    6.0  NaN  3.0
3rd    7.0  NaN  2.0
4th    8.0  NaN  1.0

In [ ]:
# 그럼 인덱스를 늘리거나 줄이는 것은? -> 에러

pd.DataFrame(a, index=['1st','2nd','3rd'],
            columns=['three','111','two']) 

#인덱스를 안쓰거나 넣을려면 개수 맞추기!

ValueError: Shape of passed values is (4, 3), indices imply (3, 3)

In [ ]:
a2={'one':{'1st':1.0,'2nd':2.0,'3rd':3.0,'4th':4.0},
   'two':{'1st':4.0,'2nd':3.0,'3rd':2.0,'4th':1.0},
   'three':{'1st':5.0,'2nd':6.0,'3rd':7.0,'4th':8.0},
   'four':{'1st':8.0,'2nd':7.0,'3rd':6.0,'4th':5.0}}
a2

{'one': {'1st': 1.0, '2nd': 2.0, '3rd': 3.0, '4th': 4.0},
 'two': {'1st': 4.0, '2nd': 3.0, '3rd': 2.0, '4th': 1.0},
 'three': {'1st': 5.0, '2nd': 6.0, '3rd': 7.0, '4th': 8.0},
 'four': {'1st': 8.0, '2nd': 7.0, '3rd': 6.0, '4th': 5.0}}

In [ ]:
pd.DataFrame(a2)

     one  two  three  four
1st  1.0  4.0    5.0   8.0
2nd  2.0  3.0    6.0   7.0
3rd  3.0  2.0    7.0   6.0
4th  4.0  1.0    8.0   5.0

In [ ]:
df2=pd.DataFrame(a2)

In [ ]:
df2.T #행과 열이 바뀜 (행렬전치)

       1st  2nd  3rd  4th
one    1.0  2.0  3.0  4.0
two    4.0  3.0  2.0  1.0
three  5.0  6.0  7.0  8.0
four   8.0  7.0  6.0  5.0