<a href="https://colab.research.google.com/github/Eunjung-Cho/python_study/blob/master/API/OpenDartReader_unlisting_corps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OpenDartReader - 비상장 기업 데이터 조회와 활용

<img width="40%" src="https://i.imgur.com/NE65l5L.png" >

***2019-2022 [FinanceData.KR]()***

## 요약

```python
import OpenDartReader

api_key = '961aebb762ef44e8f93a36218897eb**********'
dart = OpenDartReader(api_key)

# [비바리퍼블리카] (송금서비스 토스로 유명한), 공시(감사보고서) 목록
df = dart.list('비바리퍼블리카', start='1900')

# [빅히트엔터테인먼트] (BTS로 유명한), 공시(감사보고서) 목록
df = dart.list('빅히트엔터테인먼트', start='1900')
df = dart.list('01204056', start='1900')

# [쿠팡] "연결감사보고서 (2019.12)" 20200414000766 (삼일회계법인)
# http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20200414000766
html_text = dart.document('20200414000766')
df_list = pd.read_html(html_text)
df_list[15] # 연결포괄손익계산서
```

<img src="https://i.imgur.com/c3t2toM.png" >

## OpenDartReader 설치와 초기화

In [ ]:
!pip install -q OpenDartReader

In [ ]:
import OpenDartReader

# 발급받은 API키를 사용하세요
api_key = 'c19d19f2fae8006979b6e3670c8e8afe9d7d44cf'

dart = OpenDartReader(api_key)

## 비상장 회사의 공시보고서 목록

In [ ]:
df = dart.list('비바리퍼블리카', start='1900') # 토스
df

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,01212921,비바리퍼블리카,,E,주요사항보고서(유상증자결정),20221020000382,비바리퍼블리카,20221020,
1,01212921,비바리퍼블리카,,E,주요사항보고서(유상증자결정),20221018000362,비바리퍼블리카,20221018,
2,01212921,비바리퍼블리카,,E,반기보고서 (2022.06),20220829000672,비바리퍼블리카,20220829,
3,01212921,비바리퍼블리카,,E,주요사항보고서(유상증자결정),20220825000567,비바리퍼블리카,20220825,
4,01212921,비바리퍼블리카,,E,주요사항보고서(유상증자결정),20220720000316,비바리퍼블리카,20220720,
5,01212921,비바리퍼블리카,,E,분기보고서 (2022.03),20220530000844,비바리퍼블리카,20220530,
6,01212921,비바리퍼블리카,,E,사업보고서 (2021.12),20220331003427,비바리퍼블리카,20220331,연
7,01212921,비바리퍼블리카,,E,연결감사보고서 (2020.12),20210406000710,삼일회계법인,20210406,
8,01212921,비바리퍼블리카,,E,감사보고서 (2020.12),20210406000707,삼일회계법인,20210406,
9,01212921,비바리퍼블리카,,E,감사보고서 (2019.12),20200410003129,삼일회계법인,20200410,
10,01212921,비바리퍼블리카,,E,감사보고서 (2018.12),20190412002776,삼일회계법인,20190412,
11,01212921,비바리퍼블리카,,E,감사보고서 (2017.12),20180413001411,삼일회계법인,20180413,

In [ ]:
# 보고서 링크
for ix, row in df.iterrows():
    rcp_no = row['rcept_no']
    print(f'http://dart.fss.or.kr/dsaf001/main.do?rcpNo={rcp_no}')

http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20221020000382
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20221018000362
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220829000672
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220825000567
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220720000316
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220530000844
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20220331003427
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20210406000710
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20210406000707
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20200410003129
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20190412002776
http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20180413001411

## 이름으로 확인 하기

회사 이름으로 식별이 고유하게 식별이 가능한지 확인해야 하는 것을 추천합니다.

In [ ]:
comps = dart.company_by_name('하이브')
len(comps)

22

In [ ]:
comps

[{'status': '000',
  'message': '정상',
  'corp_code': '00797373',
  'corp_name': '마포하이브로드파킹(주)',
  'corp_name_eng': 'Mapo Hibroad Parking co., Ltd.',
  'stock_name': '마포하이브로드파킹',
  'stock_code': '',
  'ceo_nm': '도기훈',
  'corp_cls': 'E',
  'jurir_no': '1101114250140',
  'bizr_no': '2208792901',
  'adres': '인천광역시 연수구 인천타워대로 241 24층(송도동,포스코건설사옥)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '032-748-2754',
  'fax_no': '032-748-2754',
  'induty_code': '41229',
  'est_dt': '20091228',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00537823',
  'corp_name': '하이브랜드 에이비씨피주식회사',
  'corp_name_eng': 'Hibrand ABCP Ltd.',
  'stock_name': '하이브랜드에이비씨피',
  'stock_code': '',
  'ceo_nm': '신언도',
  'corp_cls': 'E',
  'jurir_no': '1101113240283',
  'bizr_no': '2148772045',
  'adres': '서울특별시 서초구 서초동 1361-9 서광빌딩 9층',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '02-6263-8219',
  'fax_no': '02-6260-2345',
  'induty_code': '64999',
  'est_dt': '20050601',
  'acc_mt': '03'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00485034',
  'corp_name': '하이브종합건설 주식회사',
  'corp_name_eng': 'Hive General Construction. inc',
  'stock_name': '하이브종합건설',
  'stock_code': '',
  'ceo_nm': '허정성',
  'corp_cls': 'E',
  'jurir_no': '1101111261132',
  'bizr_no': '2148710812',
  'adres': '서울특별시 서초구 서초동',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '02-3474-6886',
  'fax_no': '02-583-6818',
  'induty_code': '68121',
  'est_dt': '19960416',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00294131',
  'corp_name': '썬하이브리드 주식회사',
  'corp_name_eng': 'sun hybrid co.,ltd.',
  'stock_name': '썬하이브리드',
  'stock_code': '',
  'ceo_nm': '김용갑',
  'corp_cls': 'E',
  'jurir_no': '1101110348585',
  'bizr_no': '1098121709',
  'adres': '경기도 양주군 광적면 석우리 435-3',
  'hm_url': 'sun6001@chollian.net',
  'ir_url': '',
  'phn_no': '031)847-6001',
  'fax_no': '031)847-5105',
  'induty_code': '28123',
  'est_dt': '19830422',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00431617',
  'corp_name': '하이브리드텔레콤',
  'corp_name_eng': 'HYBRID TELECOM INC.',
  'stock_name': '하이브리드텔레콤',
  'stock_code': '',
  'ceo_nm': '손성택',
  'corp_cls': 'E',
  'jurir_no': '1101111567382',
  'bizr_no': '1148184690',
  'adres': '서울특별시 구로구 구로3동 197번지 46호',
  'hm_url': 'www.hybridtele.com',
  'ir_url': '',
  'phn_no': '02-861-5800',
  'fax_no': '02-861-0883',
  'induty_code': '2642',
  'est_dt': '19980721',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01177196',
  'corp_name': '(주)비하이브',
  'corp_name_eng': 'behive ',
  'stock_name': '비하이브',
  'stock_code': '',
  'ceo_nm': '김영산',
  'corp_cls': 'E',
  'jurir_no': '2001110362726',
  'bizr_no': '4108671837',
  'adres': '광주광역시 남구 제석로 12 ,록하빌딩 1층(진월동)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '062-418-2104',
  'fax_no': '',
  'induty_code': '41112',
  'est_dt': '20130308',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01262670',
  'corp_name': '리서치하이브리드 주식회사',
  'corp_name_eng': '.',
  'stock_name': '리서치하이브리드',
  'stock_code': '',
  'ceo_nm': '이용미',
  'corp_cls': 'E',
  'jurir_no': '1101116264280',
  'bizr_no': '5328800484',
  'adres': '서울특별시 종로구 새문안로 68 (신문로1가, 흥국생명빌딩)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '027806104',
  'fax_no': '',
  'induty_code': '649',
  'est_dt': '20161220',
  'acc_mt': '09'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01338788',
  'corp_name': '엠디하이브리드제일차 주식회사',
  'corp_name_eng': '-',
  'stock_name': '엠디하이브리드제일차',
  'stock_code': '',
  'ceo_nm': '오혜진',
  'corp_cls': 'E',
  'jurir_no': '1101116720985',
  'bizr_no': '5908101059',
  'adres': '서울특별시 종로구 새문안로 68 (신문로1가)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '02-2002-7504',
  'fax_no': '',
  'induty_code': '64999',
  'est_dt': '20180416',
  'acc_mt': '10'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01260894',
  'corp_name': '에이치씨하이브리드제일차 주식회사',
  'corp_name_eng': 'HC Hybrid 1st Co.,Ltd.',
  'stock_name': '에이치씨하이브리드제일차',
  'stock_code': '',
  'ceo_nm': '장주철',
  'corp_cls': 'E',
  'jurir_no': '1101116346616',
  'bizr_no': '4258600751',
  'adres': '서울특별시 영등포구 의사당대로 97 19층(여의도동, 교보증권빌딩)',
  'hm_url': '-',
  'ir_url': '',
  'phn_no': '02-3771-9083',
  'fax_no': '02-3771-9108',
  'induty_code': '6499',
  'est_dt': '20170316',
  'acc_mt': '09'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01314760',
  'corp_name': '에이치씨하이브리드제이차 주식회사',
  'corp_name_eng': 'NA',
  'stock_name': '에이치씨하이브리드제이차',
  'stock_code': '',
  'ceo_nm': '오수현',
  'corp_cls': 'E',
  'jurir_no': '1101116533065',
  'bizr_no': '1328800775',
  'adres': '서울특별시 영등포구 의사당대로 97 19층(여의도동, 교보증권빌딩)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '02-3771-9665',
  'fax_no': '',
  'induty_code': '64999',
  'est_dt': '20171010',
  'acc_mt': '07'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01406423',
  'corp_name': '엠디하이브리드제이차 주식회사',
  'corp_name_eng': '-',
  'stock_name': '엠디하이브리드제이차',
  'stock_code': '',
  'ceo_nm': '이지원',
  'corp_cls': 'E',
  'jurir_no': '1101117052337',
  'bizr_no': '6228801336',
  'adres': '서울특별시 종로구 새문안로 68 (신문로1가)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '02-2184-2708',
  'fax_no': '',
  'induty_code': '64999',
  'est_dt': '20190321',
  'acc_mt': '10'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01404425',
  'corp_name': '프레스티지하이브리드제이차 주식회사',
  'corp_name_eng': '-',
  'stock_name': '프레스티지하이브리드제이차',
  'stock_code': '',
  'ceo_nm': '고봉준',
  'corp_cls': 'E',
  'jurir_no': '1101116867357',
  'bizr_no': '6288600952',
  'adres': '서울특별시 중구 을지로 82 (을지로2가, IBK파이낸스타워)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '070-4010-6173',
  'fax_no': '070-8282-9090',
  'induty_code': '6499',
  'est_dt': '20180910',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01404452',
  'corp_name': '프레스티지하이브리드제일차 주식회사',
  'corp_name_eng': '-',
  'stock_name': '프레스티지하이브리드제일차',
  'stock_code': '',
  'ceo_nm': '황재영',
  'corp_cls': 'E',
  'jurir_no': '1101116816015',
  'bizr_no': '6488801056',
  'adres': '서울특별시 영등포구 국제금융로 70 710-C호(여의도동, 미원빌딩)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '070-4010-6173',
  'fax_no': '070-8282-9090',
  'induty_code': '6499',
  'est_dt': '20180717',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01509456',
  'corp_name': '하이브리드가산 주식회사',
  'corp_name_eng': 'N/A',
  'stock_name': '하이브리드가산',
  'stock_code': '',
  'ceo_nm': '이봉관',
  'corp_cls': 'E',
  'jurir_no': '1101117306445',
  'bizr_no': '5428801573',
  'adres': '서울특별시 영등포구 여의대로 66 (여의도동)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '02-845-1663',
  'fax_no': '',
  'induty_code': '649',
  'est_dt': '20191127',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01393615',
  'corp_name': '하이브산업개발(주)',
  'corp_name_eng': 'HIVE Industrial Development, Inc',
  'stock_name': '하이브산업개발',
  'stock_code': '',
  'ceo_nm': '서영미',
  'corp_cls': 'E',
  'jurir_no': '1101112825995',
  'bizr_no': '4018144869',
  'adres': '서울특별시 강남구 논현로 18 6층(개포동, 지수빌딩)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '02-529-3693',
  'fax_no': '02-2058-2395',
  'induty_code': '68121',
  'est_dt': '20140601',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01599006',
  'corp_name': '하이브솔루션코리아 유한회사',
  'corp_name_eng': 'Hyve Solutions Korea Limited',
  'stock_name': '하이브솔루션코리아',
  'stock_code': '',
  'ceo_nm': '미합중국인 사이먼와이릉',
  'corp_cls': 'E',
  'jurir_no': '1101140174497',
  'bizr_no': '2898800687',
  'adres': '서울특별시 영등포구 의사당대로 97 (여의도동, 교보증권빌딩) 10층',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '02-316-1780',
  'fax_no': '',
  'induty_code': '46510',
  'est_dt': '20160122',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01462775',
  'corp_name': '주식회사 하이브랩',
  'corp_name_eng': 'Hivelab Co., Ltd.',
  'stock_name': '하이브랩',
  'stock_code': '',
  'ceo_nm': '서종혁',
  'corp_cls': 'E',
  'jurir_no': '1311110311652',
  'bizr_no': '1448101176',
  'adres': '경기도 성남시 분당구 대왕판교로 660 A동 406호 (삼평동, 유스페이스1)',
  'hm_url': 'www.hivelab.co.kr/',
  'ir_url': '',
  'phn_no': '031-698-3001',
  'fax_no': '031-698-3002',
  'induty_code': '582',
  'est_dt': '20120509',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01368293',
  'corp_name': '주식회사 하이브미디어코프',
  'corp_name_eng': 'Hive media corp',
  'stock_name': '하이브미디어코프',
  'stock_code': '',
  'ceo_nm': '김원국',
  'corp_cls': 'E',
  'jurir_no': '1101115405736',
  'bizr_no': '1058802261',
  'adres': '서울특별시 종로구 종로1길 50 (중학동, 더케이트윈타워) B동 2층',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '02-6956-1670',
  'fax_no': '0505-044-1007',
  'induty_code': '59111',
  'est_dt': '20140430',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01204056',
  'corp_name': '(주)하이브',
  'corp_name_eng': 'HYBE Co., Ltd.',
  'stock_name': '하이브',
  'stock_code': '352820',
  'ceo_nm': '박지원',
  'corp_cls': 'Y',
  'jurir_no': '1101113166546',
  'bizr_no': '1208678223',
  'adres': '서울특별시 용산구 한강대로 42 용산트레이드센터',
  'hm_url': 'hybecorp.com',
  'ir_url': 'https://hybecorp.com/',
  'phn_no': '02-3334-0105',
  'fax_no': '',
  'induty_code': '592',
  'est_dt': '20050204',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01648995',
  'corp_name': '마이티하이브한국',
  'corp_name_eng': 'MIGHTYHIVE KOREA CO., LTD',
  'stock_name': '마이티하이브한국',
  'stock_code': '',
  'ceo_nm': '미셀페르디난드드리크',
  'corp_cls': 'E',
  'jurir_no': '1101116049955',
  'bizr_no': '4678700316',
  'adres': '서울특별시 중구 퇴계로 166 (주자동, 흥국빌딩) 3층',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '0222721188',
  'fax_no': '',
  'induty_code': '71393',
  'est_dt': '20160510',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01652129',
  'corp_name': '하이브 주식회사',
  'corp_name_eng': 'Hive CO.,Ltd.',
  'stock_name': '하이브',
  'stock_code': '',
  'ceo_nm': '채범용',
  'corp_cls': 'E',
  'jurir_no': '1412110114424',
  'bizr_no': '8208701909',
  'adres': '강원도 원주시 우두산길 52 (우산동)',
  'hm_url': 'www.hiveoil.co.kr/',
  'ir_url': '',
  'phn_no': '033-731-1156',
  'fax_no': '033-731-1157',
  'induty_code': '10402',
  'est_dt': '20200810',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01629167',
  'corp_name': '하이브스퀘어 주식회사',
  'corp_name_eng': 'HiveSquare Corporation',
  'stock_name': '하이브스퀘어',
  'stock_code': '',
  'ceo_nm': '황일웅',
  'corp_cls': 'E',
  'jurir_no': '1101118053615',
  'bizr_no': '6848702414',
  'adres': '서울특별시 서초구 강남대로79길 37 (반포동, 하이브타워) 4층',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '02-3445-0055',
  'fax_no': '',
  'induty_code': '68112',
  'est_dt': '20211020',
  'acc_mt': '12'}]

## 공시목록 가져오기

조회를 해보고 정식명칭의 전체 회사명을 사용하십시오. `corp_code`를 쓰는 것이 가장 확실합니다.

In [ ]:
bighit = dart.list('하이브', start='1900')
bighit

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,01204056,하이브,352820,Y,투자판단관련주요경영사항,20221017800268,하이브,20221017,유
1,01204056,하이브,352820,Y,기업설명회(IR)개최(안내공시),20221014800412,하이브,20221014,유
2,01204056,하이브,352820,Y,주식등의대량보유상황보고서(일반),20221014000379,방시혁,20221014,
3,01204056,하이브,352820,Y,주식매수선택권부여에관한신고,20220927000446,하이브,20220927,
4,01204056,하이브,352820,Y,영업양수결정(종속회사의주요경영사항),20220830800533,하이브,20220830,유
...,...,...,...,...,...,...,...,...,...
129,01204056,하이브,352820,Y,[발행조건확정]증권신고서(지분증권),20200928000122,하이브,20200928,
130,01204056,하이브,352820,Y,연결감사보고서 (2019.12),20200331000038,한영회계법인,20200331,
131,01204056,하이브,352820,Y,감사보고서 (2019.12),20200331000037,한영회계법인,20200331,
132,01204056,하이브,352820,Y,감사보고서 (2018.12),20190319000209,삼일회계법인,20190319,
133,01204056,하이브,352820,Y,감사보고서 (2017.12),20180322000053,삼일회계법인,20180322,

In [ ]:
bighit = dart.list('01204056', start='1900')
bighit

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,01204056,하이브,352820,Y,투자판단관련주요경영사항,20221017800268,하이브,20221017,유
1,01204056,하이브,352820,Y,기업설명회(IR)개최(안내공시),20221014800412,하이브,20221014,유
2,01204056,하이브,352820,Y,주식등의대량보유상황보고서(일반),20221014000379,방시혁,20221014,
3,01204056,하이브,352820,Y,주식매수선택권부여에관한신고,20220927000446,하이브,20220927,
4,01204056,하이브,352820,Y,영업양수결정(종속회사의주요경영사항),20220830800533,하이브,20220830,유
...,...,...,...,...,...,...,...,...,...
129,01204056,하이브,352820,Y,[발행조건확정]증권신고서(지분증권),20200928000122,하이브,20200928,
130,01204056,하이브,352820,Y,연결감사보고서 (2019.12),20200331000038,한영회계법인,20200331,
131,01204056,하이브,352820,Y,감사보고서 (2019.12),20200331000037,한영회계법인,20200331,
132,01204056,하이브,352820,Y,감사보고서 (2018.12),20190319000209,삼일회계법인,20190319,
133,01204056,하이브,352820,Y,감사보고서 (2017.12),20180322000053,삼일회계법인,20180322,

## 공시 본문가져오기

"연결감사보고서 (2019.12)"의 접수번호(rcept_no) '20200331000038'로 공시보고서 문서 전체를 얻을 수 있습니다. (형식은 XHTML 입니다)

http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20200331000038

In [ ]:
html_text = dart.document('20200331000038')
html_text[:1000] # 앞부분

'<?xml version="1.0" encoding="utf-8"?>\r\n\r\n\r\n<DOCUMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="dart3.xsd">\n\n<DOCUMENT-HEADER AEXT-CLASS="Y">\n<DOCUMENT-NAME ACODE="00761">연결감사보고서</DOCUMENT-NAME>\n<FORMULA-VERSION SUBVER="4" ADATE="20190212">3.4</FORMULA-VERSION>\n<COMPANY-NAME AREGCIK="01204056" AACCOUNTTYPE="A">주식회사 빅히트엔터테인먼트</COMPANY-NAME>\n\n<SUMMARY>\n<EXTRACTION ACODE="AUDIT_CIK" AFEATURE="BOTH">00260198</EXTRACTION>\n<EXTRACTION ACODE="SUPV_OPIN" AFEATURE="BOTH">100000000000</EXTRACTION>\n<EXTRACTION ACODE="TOT_ASSETS" AFEATURE="BOTH">362990</EXTRACTION>\n<EXTRACTION ACODE="TOT_DEBTS" AFEATURE="BOTH">189467</EXTRACTION>\n<EXTRACTION ACODE="TOT_SALES" AFEATURE="BOTH">587224</EXTRACTION>\n<EXTRACTION ACODE="TOT_EMPL" AFEATURE="BOTH">228</EXTRACTION>\n<EXTRACTION ACODE="ETC_OTHR_YN" AFEATURE="BOTH">Y</EXTRACTION>\n<EXTRACTION ACODE="POW_OTHR_YN" AFEATURE="BOTH">N</EXTRACTION>\n<EXTRACTION ACODE="ACC_PROF_YN" AFEATURE="BOTH">Y</EXTRACTION>\n<EXTRACTION AC'

## 재무데이터를 데이터프레임으로 읽어오기

pandas의 read_html()로 페이지에 포함된 표를 손쉽게 DataFrame으로 읽을 수 있습니다.

In [ ]:
df_list = pd.read_html(html_text)

In [ ]:
len(df_list)

142

페이지안에 총 142개의 테이블(table)이 있습니다.

몇 번째 표가 `연결재무상태표`인지는 인덱스번호를 넣어가며 찾아야 합니다.  여기서는 15번째(인덱스로는 14)가 연결재무상태표 입니다.

In [ ]:
# 연결재무상태표
df = df_list[14]

remove_text = "&cr;(감사받지 아니한 재무제표)"
df.columns = [col.replace(remove_text, '') for col in df.columns]
df

,과 목,주 석,제15(당) 기말,제15(당) 기말.1,제14(전) 기말,제14(전) 기말.1,제14(전) 기초,제14(전) 기초.1
0,자산,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,유동자산,NaN,NaN,294652316,NaN,171707518.0,NaN,55866023
2,현금및현금성자산,33.0,160780830,NaN,58064738,NaN,29504093,NaN
3,당기손익-공정가치 측정 금융자산,43233.0,-,NaN,36817279,NaN,12004106,NaN
4,매출채권,53033.0,94607697,NaN,49201245,NaN,8208888,NaN
5,기타유동금융자산,633.0,5750441,NaN,12450900,NaN,4999066,NaN
6,기타유동자산,7.0,20541758,NaN,9468209,NaN,1115220,NaN
7,재고자산,8.0,12971590,NaN,5705147,NaN,34650,NaN
8,비유동자산,NaN,NaN,68337520,NaN,33821650.0,NaN,10148197
9,당기손익-공정가치 측정 금융자산,43233.0,1572021,NaN,1892865,NaN,1585539,NaN
10,기타비유동금융자산,633.0,10757572,NaN,3194526,NaN,4479710,NaN
11,공동기업투자,9.0,2327780,NaN,3235619,NaN,-,NaN
12,유형자산,10.0,8184913,NaN,8751498,NaN,1497060,NaN
13,사용권자산,34.0,8654524,NaN,9434846,NaN,1756495,NaN
14,무형자산,11.0,25743454,NaN,6328275,NaN,239583,NaN
15,이연법인세자산,18.0,8523282,NaN,458811,NaN,353020,NaN
16,기타비유동자산,7.0,2573974,NaN,525210,NaN,236790,NaN
17,자산 총계,NaN,NaN,362989836,NaN,205529168.0,NaN,66014220
18,부채,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,유동부채,NaN,NaN,174561335,NaN,105462338.0,NaN,93981466
20,매입채무,3133.0,25342680,NaN,13575752,NaN,-,NaN
21,전환상환우선주부채,143133.0,5143282,NaN,9301013,NaN,5856344,NaN
22,리스부채,313334.0,5289457,NaN,2959831,NaN,1029084,NaN
23,기타유동금융부채,12303133.0,36931276,NaN,33893664,NaN,78151121,NaN
24,당기법인세부채,NaN,15946850,NaN,13264223,NaN,4479798,NaN
25,기타유동부채,13.0,84828925,NaN,32436298,NaN,4465119,NaN
26,유동성장기부채,15.0,1010397,NaN,-,NaN,-,NaN
27,충당부채,16.0,68468,NaN,31557,NaN,-,NaN
28,비유동부채,NaN,NaN,14905580,NaN,12807296.0,NaN,13997870
29,전환상환우선주부채,143133.0,-,NaN,-,NaN,11479292,NaN
30,리스부채,313334.0,2841429,NaN,4878439,NaN,161326,NaN
31,장기차입금,15.0,209790,NaN,-,NaN,-,NaN
32,기타비유동금융부채,123033.0,3000,NaN,-,NaN,159377,NaN
33,순확정급여부채,17.0,4285728,NaN,2990303,NaN,1963663,NaN
34,이연법인세부채,18.0,73294,NaN,593707,NaN,-,NaN
35,기타비유동부채,13.0,5772378,NaN,2592956,NaN,167138,NaN
36,충당부채,16.0,1719961,NaN,1751891,NaN,67074,NaN
37,부채 총계,NaN,NaN,189466915,NaN,118269634.0,NaN,107979336
38,자본,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,지배기업의 소유지분,NaN,NaN,174183579,NaN,87259534.0,NaN,"(41,965,116)"
40,자본금,119.0,834881,NaN,772917,NaN,525026,NaN
41,주식발행초과금,19.0,211100917,NaN,198574802,NaN,265179,NaN
42,기타자본,20.0,4025286,NaN,3522288,NaN,2335460,NaN
43,기타포괄손익누계액,20.0,"(57,982)",NaN,"(67,888)",NaN,"(13,775)",NaN
44,결손금,NaN,"(41,719,523)",NaN,"(115,542,585)",NaN,"(45,077,006)",NaN
45,비지배지분,NaN,NaN,"(660,658)",-,NaN,NaN,-
46,자본 총계,NaN,NaN,173522921,NaN,87259534.0,NaN,"(41,965,116)"
47,부채와 자본 총계,NaN,NaN,362989836,NaN,205529168.0,NaN,66014220

In [ ]:
# 연결포괄손익계산서
df = df_list[18]

remove_text = "&cr;(감사받지 아니한 재무제표)"
df.columns = [col.replace(remove_text, '') for col in df.columns]
df

,과 목,주 석,제15기,제15기.1,제14기,제14기.1
0,매출액,2230.0,NaN,587224478,NaN,301371824
1,매출원가,2430.0,NaN,385686888,NaN,189978918
2,매출총이익,NaN,NaN,201537590,NaN,111392906
3,판매비와관리비,2324.0,102795121,NaN,31462308,NaN
4,영업이익,NaN,NaN,98742469,NaN,79930598
5,기타수익,25.0,154231,NaN,97511,NaN
6,기타비용,25.0,510638,NaN,1768914,NaN
7,지분법손실,9.0,907839,NaN,124381,NaN
8,금융수익,2633.0,7490975,NaN,2207145,NaN
9,금융비용,2633.0,6476775,NaN,128791219,NaN
10,법인세비용차감전순손익,NaN,NaN,98492423,NaN,"(48,449,260)"
11,법인세비용,18.0,NaN,26068328,NaN,22016319
12,당기순손익,NaN,NaN,72424095,NaN,"(70,465,579)"
13,지배기업의 소유주 귀속 당기순이익,NaN,NaN,73823063,NaN,"(70,465,579)"
14,비지배지분 귀속 당기순이익,NaN,NaN,"(1,398,968)",NaN,-
15,법인세비용차감후기타포괄손익,NaN,NaN,11384,NaN,"(54,113)"
16,당기손익으로 재분류되는 항목,NaN,NaN,319572,NaN,149134
17,해외사업환산차이,NaN,319572,NaN,149134,NaN
18,후속적으로 당기손익으로 재분류되지 않는 항목,NaN,NaN,"(308,188)",NaN,"(203,247)"
19,순확정급여부채의 재측정요소,NaN,"(308,188)",NaN,"(203,247)",NaN
20,총포괄손익,NaN,NaN,72435479,NaN,"(70,519,692)"
21,지배기업의 소유주 귀속 총포괄손익,NaN,NaN,73832969,NaN,"(70,519,692)"
22,비지배지분 귀속 총포괄손익,NaN,NaN,"(1,397,490)",NaN,-
23,주당순이익 (단위:원),NaN,NaN,NaN,NaN,NaN
24,기본주당순손익,27.0,NaN,47219,NaN,"(54,030)"
25,희석주당순손익,27.0,NaN,42174,NaN,"(54,030)"

In [ ]:
# 연결현금흐름표
df = df_list[24]

remove_text = "&cr;(감사받지 아니한 재무제표)"
df.columns = [col.replace(remove_text, '') for col in df.columns]
df

,구 분,주 석,제15기,제15기.1,제14기,제14기.1
0,영업활동으로 인한 현금흐름,NaN,NaN,91713636,NaN,74686749
1,영업으로부터 창출된 현금흐름,28.0,121917870,NaN,88169367,NaN
2,이자의 수취,NaN,175611,NaN,89461,NaN
3,이자의 지급,NaN,"(12,979)",NaN,(117),NaN
4,법인세의 납부,NaN,"(30,366,866)",NaN,"(13,571,962)",NaN
5,투자활동으로 인한 현금흐름,NaN,NaN,12180077,NaN,"(45,068,033)"
6,기타금융자산의 감소,NaN,108939949,NaN,71656309,NaN
7,기타비유동금융자산의 감소,NaN,400019,NaN,86064,NaN
8,유형자산의 처분,NaN,27891,NaN,-,NaN
9,종속기업 취득에 따른 순현금흐름,NaN,"(15,202,551)",NaN,-,NaN
10,관계기업 및 공동기업투자의 취득,NaN,-,NaN,"(3,360,000)",NaN
11,기타금융자산의 증가,NaN,"(65,568,271)",NaN,"(95,971,454)",NaN
12,기타비유동금융자산의 증가,NaN,"(8,031,418)",NaN,"(3,426,566)",NaN
13,유형자산의 취득,NaN,"(4,836,016)",NaN,"(6,609,511)",NaN
14,무형자산의 취득,NaN,"(1,638,699)",NaN,"(7,165,982)",NaN
15,기타비유동자산의 증가,NaN,"(1,910,827)",NaN,"(276,893)",NaN
16,재무활동으로 인한 현금흐름,NaN,NaN,"(1,436,486)",NaN,"(1,393,794)"
17,비지배지분의 증가,NaN,2000000,NaN,-,NaN
18,주식선택권의 행사,NaN,170000,NaN,-,NaN
19,차입금의 차입,NaN,800,NaN,342650,NaN
20,차입금의 상환,NaN,"(190,787)",NaN,"(342,650)",NaN
21,기타금융부채의 감소,NaN,-,NaN,"(24,000)",NaN
22,리스부채의 감소,NaN,"(3,416,500)",NaN,"(1,369,794)",NaN
23,현금및현금성자산의 증가,NaN,NaN,102457227,NaN,28224922
24,외화표시 현금및현금성자산의 환율변동효과,NaN,NaN,258865,NaN,335723
25,기초 현금및현금성자산,NaN,NaN,58064738,NaN,29504093
26,기말 현금및현금성자산,NaN,NaN,160780830,NaN,58064738

## 쿠팡 손익계산서

In [ ]:
coupang = dart.list('쿠팡', start='1900')
coupang

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,01019166,쿠팡,,E,임원의변동,20220908000618,쿠팡,20220908,공
1,01019166,쿠팡,,E,특수관계인에대한출자,20220908000617,쿠팡,20220908,공
2,01019166,쿠팡,,E,특수관계인에대한담보제공,20220908000616,쿠팡,20220908,공
3,01019166,쿠팡,,E,대규모기업집단현황공시[분기별공시(대표회사용)],20220831000576,쿠팡,20220831,공
4,01019166,쿠팡,,E,특수관계인과의내부거래,20220824000408,쿠팡,20220824,공
5,01019166,쿠팡,,E,특수관계인에대한부동산임대,20220823000291,쿠팡,20220823,공
6,01019166,쿠팡,,E,특수관계인에대한부동산임대,20220823000289,쿠팡,20220823,공
7,01019166,쿠팡,,E,특수관계인에대한부동산임대,20220823000286,쿠팡,20220823,공
8,01019166,쿠팡,,E,유상증자결정,20220802000314,쿠팡,20220802,공
9,01019166,쿠팡,,E,특수관계인에대한부동산임대,20220719000373,쿠팡,20220720,공
10,01019166,쿠팡,,E,특수관계인에대한부동산임대,20220719000372,쿠팡,20220720,공
11,01019166,쿠팡,,E,특수관계인에대한부동산임대,20220719000371,쿠팡,20220720,공
12,01019166,쿠팡,,E,특수관계인에대한영업양도,20220630000914,쿠팡,20220630,공
13,01019166,쿠팡,,E,특수관계인에대한자산양도,20220630000911,쿠팡,20220630,공
14,01019166,쿠팡,,E,특수관계인에대한부동산임대,20220630000907,쿠팡,20220630,공
15,01019166,쿠팡,,E,특수관계인에대한부동산임대,20220630000903,쿠팡,20220630,공
16,01019166,쿠팡,,E,타인을위한채무보증결정,20220630000901,쿠팡,20220630,공
17,01019166,쿠팡,,E,특수관계인에대한출자,20220630000894,쿠팡,20220630,공
18,01019166,쿠팡,,E,대규모기업집단현황공시[연1회공시및1/4분기용(대표회사)],20220531002830,쿠팡,20220531,공
19,01019166,쿠팡,,E,대규모기업집단현황공시[연1회(동일인용)],20220531002816,쿠팡,20220531,공
20,01019166,쿠팡,,E,연결감사보고서 (2021.12),20220413002493,삼일회계법인,20220413,
21,01019166,쿠팡,,E,감사보고서 (2021.12),20220413002490,삼일회계법인,20220413,
22,01019166,쿠팡,,E,특수관계인에대한부동산임대,20220330001622,쿠팡,20220330,공
23,01019166,쿠팡,,E,특수관계인에대한부동산임대,20220330001618,쿠팡,20220330,공
24,01019166,쿠팡,,E,유상증자결정,20220302000560,쿠팡,20220302,공
25,01019166,쿠팡,,E,대규모기업집단현황공시[분기별공시(대표회사용)],20220228006048,쿠팡,20220228,공
26,01019166,쿠팡,,E,타법인주식및출자증권취득결정,20220203000349,쿠팡,20220203,공
27,01019166,쿠팡,,E,특수관계인으로부터받은담보,20220111000362,쿠팡,20220111,공
28,01019166,쿠팡,,E,특수관계인에대한담보제공,20211220000327,쿠팡,20211220,공
29,01019166,쿠팡,,E,대규모기업집단현황공시[분기별공시(대표회사용)],20211130001878,쿠팡,20211130,공
30,01019166,쿠팡,,E,[기재정정]특수관계인에대한부동산임대,20211124000491,쿠팡,20211125,공
31,01019166,쿠팡,,E,특수관계인에대한출자,20211124000434,쿠팡,20211124,공
32,01019166,쿠팡,,E,유상증자결정,20211124000428,쿠팡,20211124,공
33,01019166,쿠팡,,E,특수관계인으로부터자금차입,20211028000458,쿠팡,20211028,공
34,01019166,쿠팡,,E,유상증자결정,20211021000339,쿠팡,20211021,공
35,01019166,쿠팡,,E,특수관계인에대한출자,20211001000304,쿠팡,20211001,공
36,01019166,쿠팡,,E,대규모기업집단현황공시[분기별공시(대표회사용)],20210831001822,쿠팡,20210831,공
37,01019166,쿠팡,,E,유상증자결정,20210720000200,쿠팡,20210720,공
38,01019166,쿠팡,,E,임원의변동,20210617000057,쿠팡,20210617,공
39,01019166,쿠팡,,E,[기재정정]대규모기업집단현황공시[연1회공시및1/4분기용(대표회사)],20210617000053,쿠팡,20210617,공
40,01019166,쿠팡,,E,연결감사보고서 (2020.12),20210413001923,삼일회계법인,20210413,
41,01019166,쿠팡,,E,감사보고서 (2020.12),20210413001919,삼일회계법인,20210413,
42,01019166,쿠팡,,E,연결감사보고서 (2019.12),20200414000766,삼일회계법인,20200414,
43,01019166,쿠팡,,E,감사보고서 (2019.12),20200414000763,삼일회계법인,20200414,
44,01019166,쿠팡,,E,연결감사보고서 (2018.12),20190415000123,삼일회계법인,20190415,
45,01019166,쿠팡,,E,감사보고서 (2018.12),20190415000121,삼일회계법인,20190415,
46,01019166,쿠팡,,E,연결감사보고서 (2017.12),20180416000061,삼일회계법인,20180416,
47,01019166,쿠팡,,E,감사보고서 (2017.12),20180416000060,삼일회계법인,20180416,
48,01019166,쿠팡,,E,연결감사보고서 (2016.12),20170414001794,삼일회계법인,20170414,
49,01019166,쿠팡,,E,감사보고서 (2016.12),20170414001793,삼일회계법인,20170414,
50,01019166,쿠팡,,E,감사보고서 (2015.12),20160414001921,삼일회계법인,20160414,
51,01019166,쿠팡,,E,감사보고서 (2014.12),20150414002045,삼일회계법인,20150414,

In [ ]:
# http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20200414000766
html_text = dart.document('20200414000766')

df_list = pd.read_html(html_text)
len(df_list)

119

In [ ]:
# 연결포괄손익계산서
df_list[15]

                   과 목        주석   제 7 (당)기     제 6 (전)기
0               Ⅰ. 매출액  182324.0    7153094      4354586
1                 매출원가    1924.0    5950017      4142781
2             영업 일반관리비  192324.0    1923606      1339769
3              Ⅱ. 영업손실       NaN  (720,529)  (1,127,964)
4                 기타수익       NaN       1782          436
5                 기타비용       NaN       1481          666
6                 금융수익     520.0      50396        19338
7                 금융비용     520.0      54155        33450
8       Ⅲ. 법인세비용차감전순손실       NaN  (723,987)  (1,142,306)
9             Ⅳ. 법인세비용      14.0      (747)         2331
10            Ⅴ. 당기순손실       NaN  (723,240)  (1,144,637)
11          지배기업 소유주지분       NaN  (723,240)  (1,144,637)
12               비지배지분       NaN          -            -
13           Ⅵ. 기타포괄손실       NaN   (10,504)      (2,826)
14  당기손익으로 재분류되지 않는 항목       NaN   (10,504)      (2,826)
15      순확정급여부채의 재측정요소      13.0   (10,504)      (2,826)
16          Ⅶ. 당기총포괄손실       NaN  (733,744)  (1,147,463)
17          지배기업 소유주지분       NaN  (733,744)  (1,147,463)
18               비지배지분       NaN          -            -

당기(2019년)에 영업손실 -7,205 억원을 기록했습니다. 전기(2018년)에 -1조1279억원에 비하면 많은 개선이 이루어졌습니다.

***2019-2022 [FinanceData.KR]()***