<a href="https://colab.research.google.com/github/Eunjung-Cho/python_study/blob/master/API/%EA%B8%B0%EC%83%81%EC%B2%AD_%EB%82%A0%EC%94%A8%EB%8D%B0%EC%9D%B4%ED%84%B0_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
# 라이브러리 1
import requests
import json
import pandas as pd

## 1.데이터 불러오기


### 참고1) 기상청 api 공식문서에 있던 관측지점코드

![image.png]()

In [ ]:
# 위에있는 관측지점 리스트에 담기

numbers = [90, 93, 95, 98, 99, 100, 101, 102, 104, 105, 106, 108, 112, 114, 115, 119, 121, 127, 129, 130, 131, 133, 135, 136, 137, 138,
           140, 143, 146, 152, 155, 156, 159, 162, 165, 168, 169, 170, 172, 174, 177, 184, 185, 188, 189, 192,
           201, 202, 203, 211, 212, 216, 217, 221, 226, 232, 235, 236, 238, 239, 243, 244, 245, 247, 248, 251, 252, 253, 254, 255,
           257, 258, 259, 260, 261, 262, 263, 264, 266, 268, 271, 272, 273, 276, 277, 278, 279, 281, 283, 284, 285, 288, 289, 294, 295]

### 참고2)api 개발 계정 참고 :https://www.data.go.kr/iim/api/selectAPIAcountView.do

In [ ]:
# url 및 개인 인증키

url = 'http://apis.data.go.kr/1360000/AsosDalyInfoService/getWthrDataList'
key = 'xwSdk81T1+rmQ6txq0WzntsHFHJVDlcjGzxIgsnQoF24VtK0AD9n9q60KXLd/8D6CrrPx+fjJgkC0HHOWT0XXQ=='

In [66]:
# 빈 리스트 만들고
dfs = []

# url뒤에 붙여서 가져올 파라미터 정보 입력하기.

for number in numbers:
    para = {
        'serviceKey': key,
        'numOfRows': '999',
        'pageNo': '1',
        'dataType': 'JSON',
        'dataCd': 'ASOS',
        'dateCd': 'DAY',
        'startDt': '20220101',
        'endDt': '20230622',
        'stnIds': str(number) #stnld는 numbers에 있는 숫자 한개씩 차례대로 가져옴
    }

    response = requests.get(url, params=para) #데이터 요청
    data = response.json() # json으로 받은 데이터

    df = pd.DataFrame(data['response']['body']['items']['item']) #json데이터 데이터프레임형태로 변환
    dfs.append(df) # df에 stnid 한개씩 받은 것 쭉 붙이기

final_df = pd.concat(dfs, ignore_index=True) # union식으로 행으로 합치기

In [67]:
# 잘되었는지 확인
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51107 entries, 0 to 51106
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   stnId           51107 non-null  object
 1   stnNm           51107 non-null  object
 2   tm              51107 non-null  object
 3   avgTa           51107 non-null  object
 4   minTa           51107 non-null  object
 5   minTaHrmt       51107 non-null  object
 6   maxTa           51107 non-null  object
 7   maxTaHrmt       51107 non-null  object
 8   mi10MaxRn       51107 non-null  object
 9   mi10MaxRnHrmt   51107 non-null  object
 10  hr1MaxRn        51107 non-null  object
 11  hr1MaxRnHrmt    51107 non-null  object
 12  sumRnDur        51107 non-null  object
 13  sumRn           51107 non-null  object
 14  maxInsWs        51107 non-null  object
 15  maxInsWsWd      51107 non-null  object
 16  maxInsWsHrmt    51107 non-null  object
 17  maxWs           51107 non-null  object
 18  maxWsWd         51107 non-null  object
 19  maxWsHrmt       51107 non-null  object
 20  avgWs           51107 non-null  object
 21  hr24SumRws      51107 non-null  object
 22  maxWd           51107 non-null  object
 23  avgTd           51107 non-null  object
 24  minRhm          51107 non-null  object
 25  minRhmHrmt      51107 non-null  object
 26  avgRhm          51107 non-null  object
 27  avgPv           51107 non-null  object
 28  avgPa           51107 non-null  object
 29  maxPs           51107 non-null  object
 30  maxPsHrmt       51107 non-null  object
 31  minPs           51107 non-null  object
 32  minPsHrmt       51107 non-null  object
 33  avgPs           51107 non-null  object
 34  ssDur           51107 non-null  object
 35  sumSsHr         51107 non-null  object
 36  hr1MaxIcsrHrmt  51107 non-null  object
 37  hr1MaxIcsr      51107 non-null  object
 38  sumGsr          51107 non-null  object
 39  ddMefs          51107 non-null  object
 40  ddMefsHrmt      51107 non-null  object
 41  ddMes           51107 non-null  object
 42  ddMesHrmt       51107 non-null  object
 43  sumDpthFhsc     51107 non-null  object
 44  avgTca          51107 non-null  object
 45  avgLmac         51107 non-null  object
 46  avgTs           51107 non-null  object
 47  minTg           51107 non-null  object
 48  avgCm5Te        51107 non-null  object
 49  avgCm10Te       51107 non-null  object
 50  avgCm20Te       51107 non-null  object
 51  avgCm30Te       51107 non-null  object
 52  avgM05Te        51107 non-null  object
 53  avgM10Te        51107 non-null  object
 54  avgM15Te        51107 non-null  object
 55  avgM30Te        51107 non-null  object
 56  avgM50Te        51107 non-null  object
 57  sumLrgEv        51107 non-null  object
 58  sumSmlEv        51107 non-null  object
 59  n99Rn           51107 non-null  object
 60  iscs            51107 non-null  object
 61  sumFogDur       51107 non-null  object
dtypes: object(62)
memory usage: 24.2+ MB

## 2.mysql에 담기

In [48]:
# mysql.connector 라이브버리 없는 경우 설치
pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp310-cp310-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 53.3 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (3.20.3)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33

In [68]:
import mysql.connector
from sqlalchemy import create_engine

In [69]:
# 데이터베이스 연결 설정
config = {
    'user': 'ft',
    'password': 'brackets2021',
    'host': '34.134.49.231',
    'port': 3306,
    'database': 'ft'
}

# MySQL 서버에 연결
cnx = mysql.connector.connect(**config)

# SQLAlchemy 엔진 생성
engine = create_engine('mysql+mysqlconnector://ft:brackets2021@34.134.49.231:3306/ft')

In [70]:
# final_df 데이터프레임을 MySQL에 테이블로 쓰기
final_df.to_sql(name='weather_1', con=engine, if_exists='replace', index=False)

# 연결 닫기
cnx.close()